/* nav,.navbar-brand{
    height:120px;
} */
h1{
    background-color: #4aaaa5;
    /* display: inline; */
    text-align: center;
}

.container{
    font-family: 'Georgia', Times, 'Times New Roman', serif; 
}

img {
    width: 200px;
    height: 250px;
    float: left;
    margin-right:20px; 
}

body {

    background-image: url("chevron.png");    
    
}
footer {
    position:fixed;
    left:0;
    bottom: 0;
    width:100%;
    background-color: #666666;
    text-align: center;
    height: 40px;
    border-top: 8px solid #4aaaa5;
    
}

.info{
    margin:20px;
    margin-left:10px;
}

.email{
    padding-top: 25px;
}

#about li{
    margin:20px;
    padding-right:40px;
}
#about{
    padding:5px;
}



#one,#two,#three{
    width: 180px;
    height: 160px;     
    /* position: relative; */
    /* margin-top:40px; */
    

}

h5 {
    /* position: absolute; */
    width:180px;
    height:40x;
    margin-bottom:30px;
    background-color: #4aaaa5;
    color:white;
    text-align:center;
    font-family: 'Georgia', Times, 'Times New Roman', serif; 
}
#app{
    margin-left:3px;
}
@media only screen and(min-width: 320px) and (max-width:568px) { 
    #side{
        display:block;
        font-size: 10px;
    }

 }




